@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import 'global.css';
@import 'main.css';

.webform {
    position: relative;
    margin: auto;
    background-color: var(--dominatColor) !important;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.35); /* vertical, horizontal, blur, spread, color+opacity */
    border-radius: 10px;
    width: 75%;
}

.webform div {
    margin-top: 10px;

}

#custom {
    display: none;
    margin-top: 5px;
}

.radio, .checkbox {
    width: 20px !important;
    height: 20px !important;
}

#Text-label {
    font-family: Inter;
    font-size: 50px;
}