/* color */

/*
60% of #49466D - Priamary
30% of #102847 - Secondary
10% of #98E2E8 - Accent
*/

:root {

    /* var(--dominatColor) !important; */
    --dominatColor: #54ACBF;
    
    /* var(--secondaryColor) !important; */
    --secondaryColor: #025E73;
    
    /* var(--accentColor) !important; */
    --accentColor: #F2E7DC;
    
    }