@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'global.css';
@import 'main.css';

.homepage {
    padding: 20px;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
}


.first-paragraph-div {
    background-color: var(--secondaryColor) !important;
    position: relative;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
    max-height: 750px;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: "Inter", sans-serif;
    margin-left: auto;
    margin-right: auto;

    
}

.first-paragraph-img img-responsive {
    position: relative;
    padding: 20px;
    scale: 50%;

}

.carouselslide {
    scale: 75%;
    position: relative;
    background-color: var(--accentColor) !important;
}