@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import 'global.css';
@import 'main.css';

.homepage {
position: relative;
width: auto;
}

.background-section {
    background-color: var(--secondaryColor) !important;
    width:auto
}


.first-paragraph-div {
    background-color: var(--secondaryColor) !important;
    position: relative;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.container-fluid text-center fa-row {
  height: auto;
}

.fa-row {
background-color: var(--secondaryColor) !important;
padding: 35px;
color:#bfbfbf;
}

.fa-row-icon {
    font-size: 70px;
    color: var(--dominatColor) !important;
}

.fa-row-icon:hover {
    transform: scale(1.1);
}

#first-paragraph-img {
    border-radius: 15px;
  }


